body {
  text-align: center;
  height: 100vh;
  color: whitesmoke;
  background-color: lightcoral;
}
.colors {
  background: red;
  font-size: xx-large;
  color: white;
}
.text {
  letter-spacing: 1rem;
  font-size: 2rem;
}
.btn {
  font-size: 56px;
  cursor: pointer;
  text-transform: capitalize;
}
a {
  margin-top: 100vh;
  display: inline-block;
}
